# dépendances Node
node_modules/

# logs et fichiers temporaires
npm-debug.log*
.DS_Store

# fichiers de lock auto-générés
package-lock.json
node_modules/.package-lock.json

# génération changelog
updates_template.html